body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0d0208;
}

.header {
    margin-top: 40px;
    font-size: 3rem;
    padding: 1rem;
    background-color: #0d0208;
    color: #FFFFFF;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    letter-spacing: 3;
    text-transform: uppercase;
    text-align: center;
    animation: flicker 8s linear infinite;
}

@keyframes flicker {
    0% {
      opacity: 1;
      text-shadow: 0px 0px 60px white;
    }
    20% {
        opacity: 1;
        text-shadow: 0px 0px 50px white;
    }
    25% {
        opacity: 0.5;
        text-shadow: 0px 0px 30px white;
    }
    26% {
        opacity: 1;
        text-shadow: 0px 0px 30px white;
    }
    27% {
        opacity: 0;
        text-shadow: 0px 0px 30px white;
    }
    28% {
        opacity: 1;
        text-shadow: 0px 0px 50px white;
    }
    50% {
      opacity: 1;
      text-shadow: 0px 0px 50px white;
    }
    100% {
      opacity: 1;
      text-shadow: 0px 0px 60px white;
    }
  }

.main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decor-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(black, rgb(138, 0, 251), black);
    padding: 1rem;
    height: 90px;
    width: 100%;
}

.decor-bar-theme-green {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(black, rgb(0, 144, 17), black);  /* rgb(0, 255, 65) */
    padding: 1rem;
    height: 90px;
    width: 100%;
}

.reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    padding: 0.75rem;
    margin-top: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 1.15rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-style: double;
    border-color: whitesmoke;
    border-width: 8px;
    border-radius: 5;
}

.reset-button:hover {
    box-shadow: 0px 0px 40px white;
}

.theme-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    padding: 0.75rem;
    margin-top: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 1.15rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-color: whitesmoke;
    border-width: 8px;
    border-radius: 5;
    border-style: double;
}

.theme-toggle:hover {
    box-shadow: 0px 0px 40px white;
}

.grid-map {
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
    align-items: center;
    margin: 5rem;
}

.row {
    display: flex;
    column-gap: 1.1rem;
}

.square {
    height: 2rem;
    width: 2rem;
    border: 1px solid gray;
    box-sizing: border-box;
}

.square.occupied {
    background-color: gold;
    cursor: not-allowed;
    border-color: rgb(138, 0, 251);
    border-width: 6px;
}

.square.selected {
    background-color: white;
    border-color: white;
    cursor: not-allowed;
}

.square.selectedTwo {
    background-color: rgb(255, 22, 185);
    border-color: white;
    border-width: 6px;
    cursor: not-allowed;
}

.square.free {
    border-color: lightsteelblue;
    border-width: 5px;
}

.square.free:hover {
    background-color: rgb(255, 0, 190);
    border-color: lightsteelblue;
    border-width: 5px;
}

.status-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 12px;
    color: rgb(255, 0, 190);
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
}

.score-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 12px;
    color: aqua;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
}

.score-text-theme-green {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 12px;
    color: #088f11;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
}