body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.header {
    margin-top: 40px;
    font-size: 3rem;
    padding: 1rem;
    background-color: black;
    color: #FFFFFF;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    letter-spacing: 3;
    text-transform: uppercase;
    text-align: center;
    animation: flicker 10s linear infinite;
}

@keyframes flicker {
    0% {
      opacity: 1;
      text-shadow: 0px 0px 60px white;
    }
    20% {
        opacity: 1;
        text-shadow: 0px 0px 50px white;
    }
    25% {
        opacity: 0.5;
        text-shadow: 0px 0px 30px white;
    }
    26% {
        opacity: 1;
        text-shadow: 0px 0px 30px white;
    }
    27% {
        opacity: 0;
        text-shadow: 0px 0px 30px white;
    }
    28% {
        opacity: 1;
        text-shadow: 0px 0px 50px white;
    }
    50% {
      opacity: 1;
      text-shadow: 0px 0px 50px white;
    }
    100% {
      opacity: 1;
      text-shadow: 0px 0px 60px white;
    }
  }

.main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.board {
    display: flex;
    flex-direction: column;
    /*width: auto; */
    /*max-width: 1000px;*/
    /* margin: 0 auto; */
    align-items: center;
}

.status-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(black, rgb(138, 0, 251), black);
    /*
    background-image: radial-gradient(rgb(138, 0, 251),black);
    */
    padding: 1rem;
    margin: 10px;
    height: 90px;
    width: 100%;
}

.status-text {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: left;
    color: white;
    width: 50%;
    height: fit-content;
    transform: translateY(100%);
    transform: translateX(100%);
}

.reset-button {
    font-size: 1.15rem;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0.75rem;
    margin-top: 20px;
    background-color: rgb(33, 33, 33);
    max-width: fit-content;
    border-width: 8px;
    border-radius: 5;
    border-style: double;
    border-color: rgb(255, 22, 185);
}

.reset-button:hover {
    /* background-color: rgb(71, 71, 71); */
    box-shadow: 0px 0px 40px rgb(255, 76, 201);

}

.grid-map {
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
    /*column-gap: 1.25rem;*/
    align-items: center;
    margin: 5rem;
}

.row {
    display: flex;
    column-gap: 1.1rem;
}

.square {
    height: 2rem;
    width: 2rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* cursor: pointer; */
}

.square.occupied {
    background-color: gold;
    cursor: not-allowed;
    /* This creates CIRCLES for occupied squares:
    border-radius: 1rem;
    */
    border-color: rgb(138, 0, 251);
    border-width: 6px;
}

.square.selected {
    background-color: aqua;
    border-color: rgb(138, 0, 251);
    border-width: 6px;
    /* Displaying cursor not allowed for selected: */
    cursor: not-allowed;
}

/* TODO 09/07/2022: Add SelectedTwo. */
.square.selectedTwo {
    background-color: rgb(255, 22, 185);
    border-color: rgb(138, 0, 251);
    border-width: 6px;
    /* Displaying cursor not allowed for selected: */
    cursor: not-allowed;
}

.square.free {
    /* background-color: white;
    opacity: 0.99; */
    border-color: rgb(138, 0, 251);
    border-width: 3px;
}

.square.free:hover {
    background-color: teal;
    border-color: rgb(138, 0, 251);
    border-width: 6px;
    /*opacity: 0.5;*/
}